.wy-side-nav-search {
    background-color: #7B3F00; //#995533;
}

.wy-menu-vertical li ul li a {
    color: #ffffff;
}

.wy-menu-vertical span {
    color: #ffffff;
}

.wy-nav-side {
    background: #7B3F00; //#995533;
}

.rst-versions .rst-current-version {
    background-color: #7B3F00; //#995533;
}
